body {
  background: linear-gradient(#e66465, #9198e5);
}

header {
  text-align: center;
}

.leftDiv {
  float: left;
  width: 30%;
  border: 3px solid black;
  text-align: center;
  padding: 30px;

}

.rightDiv{
  float: right;
  width: 30%;
  border: 3px solid green;
  text-align: center;
  padding: 30px;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);


}

.rightDiv, ul li {
  list-style: none;
}

.center {
  width: 20%;
  float: left;
  margin-left: 40px;
}
